.content-container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container {
    width:400px;
    max-width:100%;
}
.auth-container h4{
    text-align:center;
}

.auth-container ul{
    list-style: none;
    padding: 0;
}

.auth-container small{
    display: none;
}

#regForm {
  width: 100%;
  padding: 40px;
  min-width: 300px;
  margin: 0 auto;
}

.select-date-widget{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.select-date-widget *{
    flex-grow: 1;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

button{
flex-grow: 1;
min-width: 50%;
margin: 10px 0;
}

/* Hide all steps by default: */
.tab {
  display: none;
  flex-direction: column;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
} 