{% extends 'tl_base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<h1 class="mt-2">People</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="people-nearby">
   			{% for user in users%}
          <div class="nearby-user">
            <div class="row">
              <div class="col-md-2 col-sm-2">
                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" class="profile-photo-lg">
              </div>
              <div class="col-md-7 col-sm-7">
                <h5><a href="{% url 'accounts:detail_profile' user.id %}" class="profile-link">{{ user.email }}</a></h5>
                <p>{{user.hobbies }}</p>
                <p class="text-muted">500m away</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
	</div>
</div>
{% endblock %}