{% extends 'base.html' %}
{% load static %}

{% block main %}
    <!---Feed [START]--->
    <div class="container-fluid gedf-wrapper">
        {% if not feed %}
        <h1 class="mt-2">Oops, there is no any publication</h1>
        <p>Follow awesome people and make friends to transform your feed into interesting and bright place!</p>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 gedf-main">
                {% if feed %}
                {% for post in feed %}
                <!---Post [START]--->
                <div class="card gedf-card">

                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <a href="{% url 'accounts:detail_profile' post.author.id %}">
                                    <img class="rounded-circle" width="45" src="https://yt3.ggpht.com/a/AATXAJwAYA_QZ3ZXrSS3CDD87Z7wcbvBrLpRq7TRIt_B=s900-c-k-c0xffffffff-no-rj-mo" alt="">
                                    </a>
                                </div>
                                <div class="ml-2">
                                    <a href="{% url 'accounts:detail_profile' post.author.id %}">
                                    <div class="h5 m-0">{{ post.author.email }}</div>
                                    </a>
                                    <div class="h7 text-muted">Miracles Lee Cross</div>
                                </div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Hide</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ post.timestamp | timesince }} ago</div>
                    <hr id="hr_content_and_time" />
                    <p class="card-text">
                        {{ post.content }}
                    </p>
                </div>

                <div class="card-footer">
                        {% if request.user not in post.likes.all %}
                        <a href="{% url 'accounts:like-post' post.id%}" class="card-link" style="color:grey;"><i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i> {{post.likes.all.count}}</a>
                        {% else %}
                        <a href="{% url 'accounts:unlike-post' post.id%}" class="card-link"><i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i> {{post.likes.all.count}}</a>
                        {% endif%}

                        <a href="javascript:void(0);" class="card-link" onclick='get_commentbox(this.id)' id="comment_link" style="color:grey;"><i  class="fa fa-comment" ></i> Comments ({{post.comment_set.all.count}})</a>

                        <a href="#" class="card-link" style="color:grey;"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                    <!--- Comment section [START] --->
                    <!-- The list of comments [START]-->
                    <div class="card-body" style="display:none !important;" id="comment_section" name = "Comments">

                        {% if post.comment_set.all %}
                        {% for comment in post.comment_set.all%}
                        <div class="media g-mb-30 media-comment">.
                            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Image Description">
                            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30 col-9 col-sm-10 col-md-9 col-lg-9 col-xl-11">
                              <div class="g-mb-15">
                                <h6 class="h5 g-color-gray-dark-v1 mb-0" id="comment_username"><a href="{% url 'accounts:detail_profile' comment.user.id %}">{{ comment.user.email }}</a></h6>
                              </div>
                              <p style="max-width:43ch;"></style>{{comment.body}}</p>
                                <hr id="comment_hr">
                              <ul class="list-inline d-sm-flex my-0">
                                <li class="list-inline-item g-mr-20">
                                    {% if request.user not in comment.likes.all %}
                                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover " href="{% url 'accounts:like-comment' comment.id%}">
                                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i> {{ comment.likes.all.count }}      
                                  </a>
                                  {% else %}
                                  <a class=" card-link" href="{% url 'accounts:unlike-comment' comment.id%}">
                                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i> {{ comment.likes.all.count }}     
                                  </a>
                                  {% endif %}
                                </li>
                                <li class="list-inline-item g-mr-20">
                                  <div class="text-muted h7 mb-2" style="margin-top:1%;"><i class="fa fa-clock-o"></i> {{ comment.timestamp | timesince }} ago</div>
                                </li>
                                <li class="list-inline-item ml-auto">
                                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                    <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                                    Reply
                                  </a>
                                </li>
                              </ul>
                            </div>
                        </div>
                    <div class="card-body" style="padding-bottom: 0.9% !important;">
                    </div>                    
                    {% endfor %}
                    {% endif %}
                    <!-- The list of comments [END]-->

                    <!-- Add comment option [START] -->
                        <hr style="visibility: hidden;margin-bottom:-1% !important;">
                        <div class="tab-content col-xl-13" id="myTabContent"> 
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>

                                    <form method="post">
                                       {% csrf_token %}
                                       {{ comment_form.body }}
                                       <input type="hidden" name="post_id" value="{{post.id}}" style="display: none;">
                                </div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">Comment</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--- Add comment option [END] --->
                <!--- Comment section [END]--->                
                
        {% endfor %}
    {% endif %}
<!--- Post [END]--->
<!-- Feed [END]--->
{% endblock %}
