{% extends 'base.html' %}
{% load static %}

{% block main %}

<!--- Profile header[START] --->
    <div class="container db-social">
        <div class="jumbotron jumbotron-fluid"></div>
        <div class="container-fluid">
        <div class="row justify-content-center">
        <div class="col-xl-11">
        <div class="widget head-profile has-shadow">
        <div class="widget-body pb-0">
        <div class="row d-flex align-items-center">
        <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
            <ul>
                <li>
                    <div class="counter">{{amount_of_friends}}</div>
                    {% if amount_of_friends == 1 %}
                        <div class="heading"><a href="{%url 'accounts:friends-list' user_acc.id%}">Friend</a></div>
                    {% else %}
                        <div class="heading"><a href="{%url 'accounts:friends-list' user_acc.id%}">Friends</a></div>
                    {% endif %}
                </li>
                    {% if user_acc.email == who_makes_a_request %}
                        <li>
                            <div class="counter">{{amount_of_frequests}}</div>
                            <div class="heading"><a href="{% url 'accounts:incoming-frequests' user_acc.id%}">Friend requests</a></div>
                        </li>
                    {% endif %}
            </ul>

        </div>
        <div class="col-xl-4 col-md-4 d-flex justify-content-center">
            <!--- Avatar of the user [START] --->
                <div class="image-default">
                    <img class="rounded-circle" src="https://yt3.ggpht.com/a/AATXAJwAYA_QZ3ZXrSS3CDD87Z7wcbvBrLpRq7TRIt_B=s900-c-k-c0xffffffff-no-rj-mo" alt="...">
                </div>
            <!--- Avatar of the user [END] --->

            <div class="infos">
                <h2>{{user_acc.first_name}} {{user_acc.second_name}}</h2>
                <div class="location">{{user_acc.country}}</div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
            <div class="follow">
                {% if user_acc.email == who_makes_a_request %}
                    <a class="btn btn-shadow btn btn-primary" href="{%url 'accounts:profile_edit' %}"><i class="la la-user-plus"></i>Edit account</a>

                {% elif user_acc.is_authenticated and user_acc.email != who_makes_a_request and status_between_users == "Not friends" %}
                    <a class="btn btn-shadow btn btn-primary" href="{%url 'accounts:send-frequest' user_acc.id%}"><i class="la la-user-plus"></i>Add Friend</a>

                {% elif user_acc.is_authenticated and user_acc.email != who_makes_a_request and status_between_users == "User wanna be our friend" %}
                    <a class="btn btn-shadow btn btn-primary" href="{%url 'accounts:accept-frequest' user_acc.id%}"><i class="la la-user-plus"></i>Accept</a>

                    <a class="btn btn-shadow btn btn-danger" href="{% url 'accounts:delete-frequest' user_acc.id%}"><i class="la la-user-plus"></i>Dismiss</a>
                                            
                {% elif user_acc.is_authenticated and user_acc.email != who_makes_a_request and status_between_users == "We're waiting for user confirmation" %}
                    <a class="btn btn-shadow btn btn-danger" href="{%url 'accounts:cancel-frequest' user_acc.id %}"><i class="la la-user-plus"></i>Cancel</a>
                {% elif user_acc.is_authenticated and user_acc.email != who_makes_a_request and status_between_users == "Friends" %}
                    <a class="btn btn-shadow btn btn-primary" href="{% url 'chat:messages-page' user_acc.id%}"><i class="la la-user-plus"></i>Message</a>
                    <a class="btn btn-shadow btn btn-danger" href="{% url 'accounts:delete-friend' user_acc.id%}"><i class="la la-user-plus"></i>Delete</a>
                {% endif %}

        <div class="actions dark">
            <div class="dropdown">
                <button 
                type="button" 
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                class="dropdown-toggle">
                    <i class="la la-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" x-placement="bottom-start">
                    {% if user_acc.email == who_makes_a_request %}
                    <a href="{% url 'accounts:logout' %}">Logout</a>
                    {% else %}
                        {% if request.user in user_acc.followers.all and request.user not in user_acc.friends.all %}
                            <a href="{% url 'accounts:unfollow' user_acc.id%}" class="dropdown-item">Unfollow</a>
                        {% elif request.user not in user_acc.followers.all and request.user not in user_acc.friends.all %}
                            <a href="{% url 'accounts:follow' user_acc.id%}" class="dropdown-item">Follow</a>
                        {% endif %}

                    <a href="#" class="dropdown-item">Report</a>
                    <a href="#" class="dropdown-item">Block</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<!--- Profile header[END] --->

<!--- Feed [START] --->
{% block feed %}{% endblock %}
<!--- Feed [END] --->

{% endblock %}
