{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container" style="margin-left: 30%;">
<div class="row">
<div class="col-md-8">
    <div class="chat_container">
        <div class="job-box">
            <div class="job-box-filter">
                <div class="row">
                    
                    <div class="col-md-6 col-sm-6" style="margin-left: 50%;float: right">
                        <div class="filter-search-box text-right">
                            <label>Search:<input type="search" class="form-control input-sm" placeholder=""></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inbox-message">
                <ul>
                    {% if ordered_messages %}
                    {% for message in ordered_messages%}
                    {% if message.from_user == request.user %}
                    {% if request.user not in message.users_who_read_message.all %}
                    <li>
                        <a href="{% url 'chat:messages-dialog' message.to_user.id %}">
                            <div class="message-avatar">
                                <img src="https://yt3.ggpht.com/a/AATXAJwAYA_QZ3ZXrSS3CDD87Z7wcbvBrLpRq7TRIt_B=s900-c-k-c0xffffffff-no-rj-mo" alt="">
                            </div>
                            <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>{{ message.to_user.email }} <span class="unread">Unread</span></h5>
                                        <span>{{ message.timestamp | timesince }} ago</span>
                                    </div>
                                <p>{{ message.message }}</p>
                            </div>
                        </a>
                    </li>
                    {% elif request.user in message.users_who_read_message.all%}
                    <li>
                        <a href="{% url 'chat:messages-dialog' message.to_user.id %}">
                            <div class="message-avatar">
                                <img src="https://yt3.ggpht.com/a/AATXAJwAYA_QZ3ZXrSS3CDD87Z7wcbvBrLpRq7TRIt_B=s900-c-k-c0xffffffff-no-rj-mo" alt="">
                            </div>
                            <div class="message-body">
                                    <div class="message-body-heading">
                                        <h5>{{ message.to_user.email }}</h5>
                                        <span>{{ message.timestamp | timesince }} ago</span>
                                    </div>
                                <p>{{ message.message }}</p>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% else %}
                    {% if request.user not in message.users_who_read_message.all %}
                    <li> 
                        <a href="{% url 'chat:messages-dialog' message.from_user.id %}">
                            <div class="message-avatar">
                                <img src="https://yt3.ggpht.com/a/AATXAJwAYA_QZ3ZXrSS3CDD87Z7wcbvBrLpRq7TRIt_B=s900-c-k-c0xffffffff-no-rj-mo" alt="">
                            </div>
                            <div class="message-body">
                                <div class="message-body-heading">
                                    <h5>{{ message.from_user.email }} <span class="unread">Unread</span></h5>
                                        <span>7 hours ago</span>
                                </div>
                                <p>{{ message.message }}</p>
                            </div>
                        </a>
                    </li>
                    {% elif request.user in message.users_who_read_message.all %}
                    <li> 
                        <a href="{% url 'chat:messages-dialog' message.from_user.id %}">
                            <div class="message-avatar">
                                <img src="https://yt3.ggpht.com/a/AATXAJwAYA_QZ3ZXrSS3CDD87Z7wcbvBrLpRq7TRIt_B=s900-c-k-c0xffffffff-no-rj-mo" alt="">
                            </div>
                            <div class="message-body">
                                <div class="message-body-heading">
                                    <h5>{{ message.from_user.email }}</h5>
                                        <span>7 hours ago</span>
                                </div>
                                <p>{{ message.message }}</p>
                            </div>
                        </a>
                    </li>

                    {% endif %}

                    {% endif %}
                    {% endfor %}
                    {% elif not ordered_messages %}
                    <p align="center" style="margin-top: 8%; margin-bottom: 0%;">You don't have any message yet</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}