{% extends 'base.html' %}
{% load static %}
{% block main %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'journeys/journeys_list.css'%}">

{% endblock %}

{% if request.user.email == user_acc.email %}
<div class="container" style="text-align: center;margin-top: 1%;">
  <h1 class="mt-2" style=" display: inline;">Your journeys</h1>
  <a href="{% url 'journeys:new-journey'%}">
    <h3 style="display: inline; color:#0275d8;margin-left: 0.8%;">
      <i class="fa fa-plus-circle" aria-hidden="true">
      </i>
    </h3>
  </a>
</div>
{% else %}
<div class="container">
  <h1 class="mt-2" style="text-align: center;">Journeys of {{user_acc.name}}</h1>
</div>
{% endif %}
</div>
<div class="container" style="text-align: center; margin-top: 1%;">
  <a href="{% url 'journeys:journey-list' request.user.id %}"><button class="btn btn-dark">Default</button></a>
  <a href="{% url 'journeys:sort-journeys-by-date' user_acc.id %}"><button class="btn btn-dark">Sort by date</button></a>
  <a href="{% url 'journeys:sort-journeys-by-rating-of-place' user_acc.id %}"><button class="btn btn-dark">Sort by rating of place</button></a>

</div>
{% if journeys %}
<div class="container" style="margin-top: 2%;">
  <div class="row">
  
  {% for journey in journeys %}
  <div class="col-sm-4 py-2">
    <div class="card text-white bg-primary">
      <div class="card-body">
          <h3 class="card-title">{{ journey.journey_from}} - {{ journey.journey_to }}</h3>
            <p class="card-text">{{ journey.description }}</p>
            <hr>
            <p class="card-text">Started: {{ journey.date_of_start }}</p>
            <p class="card-text">Ended: {{ journey.date_of_end }}</p>
            <p class="card-text">Place: <a href="{% url 'trip_places:place-page' journey.place.id%}" style="color: inherit;">{{ journey.place.name_of_place }}</a></p>
            <p class="card-text">Location: {{ journey.place.location }}</p>
            <p class="card-text">Rating: {{ journey.place.get_rating_of_place }}</p>
            

            <a href="{% url 'journeys:journey-page' journey.id %}" class="btn btn-outline-light">Check it out</a>
            </div>
            </div>
        </div>
  {% endfor %}
    </div>

</div>

{% else %}
  <p style="text-align: center;margin-top: 2%;">There are no journeys here.</p>
{% endif %}
{% endblock %}
