{% extends 'registration/auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="mt-2">Login</h1>

<form id="regForm" action="">

<div class="tab">
  {{ form.first_name.label }}
  {{ form.first_name }}
  {{ form.second_name.label }}
  {{ form.second_name }}
  {{ form.sex.label }}
  {{ form.sex }}
  {{ form.date_of_birth.label }}
  {{ form.date_of_birth }}
</div>

<div class="tab">Contact Info:
  {{ form.country.label }}
  {{ form.country }}
  {{ form.place_of_work.label }}
  {{ form.place_of_work }}
  {{ form.short_description.label }}
  {{ form.short_description }}
  {{ form.hobbies.label }}
  {{ form.hobbies }}
</div>

<div class="tab">
  {{ form.vkontakte.label }}
  {{ form.vkontakte }}
  {{ form.twitter.label }}
  {{ form.twitter }}
  {{ form.facebook.label }}
  {{ form.facebook }}
</div>

<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>

</form>
{% endblock %}